@tailwind base;
@tailwind components;
@tailwind utilities;



[data-theme='dark']{
    background-color: #121721;
    .job-description{
        background-color: #19202D;    
    }
    .sub-title{
        color: #FFFFFF;
    }
    .description{
        color: #9DAEC2
    }
    .apply-now-footer{
        background-color: #19202D;
    }
}
[data-theme='light']{
    background-color: #F4F6F8;
    .job-description{
        background-color: #FFFFFF;    
    }
    .sub-title{
        color: #1F1F1F;
    }
    .description{
        color:#6E8098;
    }
    .apply-now-footer{
        background-color: #FFFFFF;
    }
}


.Scoot{
    background-color: #E99210;
}

.Blogr{
    background-color: #E54D25;
}

.Vector{
    background-color: #34353F;
}

.Office-Lite{
    background-color: #21427D;
}

.Pod {
    background-color: #132034;
}

.Creative {
    background-color: #4E1853;
}

.Pomodoro {
    background-color: #4722C6;
}

.Maker {
    background-color: #21427D;
}

.Coffeeroasters {
    background-color: #F2DECB;
}

.Mastercraft {
    background-color: #1F1F1F;
}

.Crowdfund {
    background-color: #37C790;
}

.Typemaster{
    background-color: #F16718;
}

@keyframes moveRight {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 30px;
    }
}

@keyframes moveLeft {
    0% {
        margin-left: 30px;
    }

    100% {
        margin-left: 0;
    }   
}

.moveRight {
    animation: moveRight 0.5s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
}